// .title {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 20px;

//   h2 {
//     font-size: 35px;
//   }
// }
.category-slider {
  display: grid;
  grid-gap: 0.8rem;
  height: 11.5rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

  .slider-category {
    border-radius: 0.2rem;
    background: white;
    display: grid;
    grid-template-rows: 1fr 40px 5px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }

    .category-img {
      img {
        padding: 1rem;
      }
    }

    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .indicator {
      background: #000000;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .slider-category:hover {
    .indicator {
      // background: #237015;
      background: #3fc728;
    }
  }
}

#category-page {
  .categories-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 10rem);

    .card {
      border: 1px solid gray;
      border-radius: 4px;
      display: grid;
      grid-template-rows: 100px 50px min-content;

      .file-upload {
        width: 100px;
        height: 100px;
      }

      .actions {
        display: flex;
        .actionButton {
          width: 60%;
          height: auto;
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(194deg) brightness(99%) contrast(103%);
        }

        .btn-circle:hover {
          .actionButton {
            filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(150deg) brightness(98%) contrast(106%);
          }
        }
      }
    }
  }
}
