form {
    display: grid;
    padding: 15px 20px;
    width: 250px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    row-gap: 15px;
    color:black;

    .formControl {
        display:grid;
    }
}