.login-form {
  position: absolute;
  top: 2rem;
  right: 0;
}

@media (max-width: 768px) {
  .login-form {
    top: 120px;
    width: 100vw !important;
    max-width: 100%;
    box-sizing: border-box;
  }
}
